<?xml version="1.0" encoding="utf-8"?>

<launch>

	<!--connect to pixhawk -->
	<include file="$(find rover_bringup)/launch/px4.launch"/>
 
	<!-- hector slam -->
	<!-- include file="$(find rover_bringup)/launch/hector_slam.launch"/-->

        <!-- hokuyo laser scan -->
	<!-- include file="$(find rover_bringup)/launch/hokuyo.launch"/-->

	<!-- sbpl lattice planner-->
	<!-- include file="$(find sbpl_lattice_planner)/launch/move_base_sbpl.launch"/ -->

	<!-- data publisher for mavros -->
	<!-- plain topic publisher based on ros_params -->
	<!--node pkg="rover_nodes" type="actuator_controls_publisher" name="actuator_controls_publisher"/ -->
	<node pkg="rover_nodes" type="cmd_vel_to_actuator" name="cmd_vel_to_actuator"/>
	
	<!-- joystick teleop -->



	<node pkg="rover_nodes" type="pixhawk_teleop" name="pixhawk_teleop" output="screen" ns="thrustmaster"/>       
	<rosparam file="$(find rover_nodes)/launch/pixhawk_teleop.yaml" command="load"/>
	<!-- tfs -->
	<include file="$(find rover_bringup)/launch/tf.launch"/>
	
	<!-- openni camera -->
	<include file="$(find openni2_launch)/launch/openni2.launch"/>

</launch>
